# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env

# Archivos de base de datos
*.sqlite3

# Archivos estáticos y de medios
staticfiles/
media/

# Archivos de IDE
.vscode/
.idea/